.ContactUsPage {
  display: flex;
  flex-direction: column;
  background-color: beige;
  width: 100%;
}

.contact_header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.contact_header_text_container {
  width: 41%;
}

.contact_header_title {
  font-size: 150%;
  font-weight: 470;
}

.contact_header_text {
  font-weight: 350;
}

Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}